.timeline{
 margin-top: 15px;
}

.timeline-content{
  display: grid;
  grid-template-columns: 130px 100px 50px 500px;
  grid-template-rows: auto;
  grid-template-areas:
    ". . . text"
    "date emojy . text"
    ". . . text";

  border: 3px solid red;
  margin-bottom: 5px;
  padding-left: 2px;
}

.timeline-date{
  grid-area: date;
  font-size: small;
}

.timeline-mood{
 grid-area: emojy;
}

.timeline-text{
  grid-area: text;
}

