<div class="timeline" >
  <!--<h6 class="border-bottom border-gray pb-2 mb-0">{{post.timestamp}}</h6>-->
  <div class="timeline-content" *ngFor="let post of moods">
    <div class="timeline-date">
      <p class="pb-3 mb-0 small lh-125 " id="postDate">{{post.timestamp.$date.$numberLong | date}}</p>
    </div>
    <div class="timeline-mood">
      <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="assets/emoticons/png/{{post.emoji}}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
    </div>
    <div class="timeline-text">
      <div class="timeline-text-oid">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@{{post.userID.$oid}}</strong>
        </p>
      </div>
      <div class="timeline-text-text">
        <p>
          {{post.text}}
        </p>
      </div>
    </div>
  </div>
</div>


