@font-face {
  font-family: "Symbola";
  src: url("https://github.com/ChALkeR/Symbola-Emoji/blob/master/dist/Symbola-Emoji.woff") format("woff"),
  url("https://github.com/ChALkeR/Symbola-Emoji/blob/master/dist/Symbola-Emoji.ttf") format("ttf");
}

*{
  background: #303e4f;
  border-radius: 10px;
}

.emoji {
  font-family: "Symbola"
}

::placeholder{
  color: white;
}

.post-form{
  background: white;
  float: bottom;
}

.post-button{
  margin-left: 35%;
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}

.post-button :valid{
  color: #66FCF1;
}

.post-button *{
  width: 50px;
  height: 30px;;
  font-size: large;
  align-content: center;
  border: none;
  box-shadow: none;
}

.post-text{
  width: 50%;
  margin: auto;

}
.post-text *{
  margin-top: 2%;
  margin-left: 1%;
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: none;
  overflow-wrap: break-word;
  word-break: break-word;
  background: #44576f;
  outline: none;
}


.post-emojy {
  margin-left: 30%;
  margin-bottom: 5px;
  padding: 5px;
}

.post-emojy * {
  width: 85px;
  height: 30px;
  font-size: large;
  border: none;
  box-shadow: none;
}

.elements-down{
  display: flex;
  margin-top: 2%;

}

#required{
  background: #303e4f;
}

#required-text{
  color: red;
  border: 1px solid red;
  font-size: small;
  border: none;
  background: #303e4f
}


#ps-button{
  outline: none;
  border: none;
  font-size: large;
  background: #66FCF1;
  color: black;
  height: 90%;
  width: 120%;
  padding: 5px;
  border-radius: 90px;

}
