@font-face {
  font-family: "Symbola";
  src: url("https://github.com/ChALkeR/Symbola-Emoji/blob/master/dist/Symbola-Emoji.woff") format("woff"),
  url("https://github.com/ChALkeR/Symbola-Emoji/blob/master/dist/Symbola-Emoji.ttf") format("ttf");
}

*{
  background: #303e4f;
  border-radius: 10px;
}

.emoji {
  font-family: "Symbola"
}

::placeholder{
  color: white;
}

.post-form{
  background: white;
  float: bottom;
}

.post-button{
  margin-left: 35%;
  margin-bottom: 5px;

}

.post-button *{
  width: 50px;
  height: 30px;;
  font-size: large;
}

.post-text{
  width: 50%;
  margin: auto;

}
.post-text *{
  margin-top: 1%;
  margin-left: 1%;
  width: 100%;
  padding: 10px;
}

.post-emojy {
  margin-left: 30%;
  margin-bottom: 5px;
}

.post-emojy * {
  width: 50px;
  height: 30px;
  font-size: large;
}

.elements-down{
  display: flex;
  margin-top: 2%;

}


