<div class="post">
  <div class="post-form">
    <form [formGroup]="angForm"  class="form-inline my-5 my-lg-0">
      <div class="post-text">
        <input #text id="postText" name="postText" class="form-control" type="text" placeholder="Write your Mood" aria-label="Post"
               formControlName="postText" required>
        <div *ngIf="angForm.controls['postText'].invalid && (angForm.controls['postText'].dirty
        || angForm.controls['postText'].touched)" class="alert alert-danger" id="required">
          <span *ngIf="angForm.controls['postText'].errors.required" id="required-text">Text required</span>
        </div>
      </div>
      <div class="elements-down">
        <div id="popUpDiv" class="post-emojy">
          <select #emoji class="textboxclass" type="text" placeholder="Choose your mood" aria-label="Post" formControlName="emoji"  required>
            <option value="" selected disabled hidden>😀</option>
            <option *ngFor="let emoji of emojis" [ngValue]="emoji.value">
              {{ emoji.displayValue }}
            </option>
          </select>
        </div>
        <div class="post-button">
            <button id="ps-button" [disabled]="angForm.invalid" class="btn btn-outline-success my-2 my-sm-0" (click)="postMood()" >Post </button >
        </div>
      </div>
    </form>
  </div>
</div>
