<body class="bg-light">


<!-- Moods Main -->
<div class="content">

  <div class="nav">
    <div class="nav-text">
      <a class="nav-link" routerLink="/spa" routerLinkActive="active">Home</a>
    </div>
    <br>
    <div class="nav-text" href="#">
      <a >Friends</a>
    </div>
    <br>
    <div class="nav-text">
      <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
    </div>
    <div class="nav-text">
      <a class="nav-link" ><app-logout></app-logout></a>
    </div>
  </div>
  <div class="search">
    <app-search-service></app-search-service>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div id="footer" *ngIf="checkUrl()">
    <footer>
      <p id="license">Icons made by <a href="https://emojiisland.com/pages/download-new-emoji-icons-in-png-ios-10">Emoji Island</a></p>
    </footer>
  </div>

</div>
</body>


