.container{
  width: 50%;
  padding: 10px;
  margin: 1% auto auto;
}

.nav{
  margin-left: 15%;
  margin-top: 1%;
  position: absolute;
}

.nav a{
  text-decoration: none;
  font-size: larger;
}
.nav :hover{
  color: #66FCF1;
}

.nav-text{
  margin-bottom: 10px;
}

.search{
  position: fixed;
  margin-left: 80%;
  margin-top: 1%;
}

#footer{
  display: flex;
  height: 100%;
  margin-top: 2em;
  margin-left: 10px;
}

footer{
  float: bottom;
  display: flex;
}

#license{
  font-size: smaller;
}

.container2{
  width: 50%;
  padding: 10px;
  margin: 1% auto auto;
  bottom: 0;
  float: bottom;
}

#test{
  float: bottom;
}

#logout{
  margin-top: 50px;
}

@media screen and (max-width:900px) {
  .nav{
    margin-left: 5%;
    margin-top: 1%;
    position: fixed;
    margin-right: 25%;
  }

  .search{
    position: fixed;
    margin: auto 10% auto 80%;
    width: 70px;

  }

}
