*{
  background: #303e4f;
  border-radius: 90px;
}

#myInput {
  padding: 10px;
  background-color: #303e4f;
  font-family: "Courier New";
  border: none;
  outline: none;
  color: white;
}

::placeholder{
  color: white;
}

#b1{
  border: none;
  background: #303e4f;
  border: none;
  outline: none;
  padding: inherit;
}

.dropdown {

}

.search-com{
  display: inline-block;
  border-radius: 90px;
  padding: 10px;
  background: #303e4f;
}

.dropdown-content {
  margin-top: 5px;
  border-radius: 10px;
}

.dropdown-content a {
  background: #303e4f;
  color: white;
  padding: 10px 6px 10px;
  text-decoration: none;
  display: block;
}




