
<div class="dropdown">
  <div class="search-com">
    <form #formTest [formGroup]="angForm2" (ngSubmit)="getUser(); getMood()"  class="form-inline my-5 my-lg-0">
      <input id="myInput" name="searchText"formControlName = "search" type="string" placeholder="Search for user" aria-label="Post"
             formControlName="searchText" >
      <button id ="b1" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="changeVisibility()" ng-disabled="someForm.$invalid">Search</button>
    </form>
  </div>
</div>

<div id="myDropdown" class="dropdown-content" *ngIf="this.isDivHidden"><script>div.style.visibility = "visible";</script>
  <br><a id="a1">{{user?.username}}</a>
  <div id="textSearch" *ngFor="let moodText of mood">
    <br><a id="a2">{{moodText?.text}}</a>
  </div>
</div>


<script>



  let submit = document.getElementById("b1");
  let div = document.getElementsByClassName("dropdown-content");
    div.style.visibility = "visible";



</script>
