<div class="container" id="profile-div">
  <div class="row">

    <!-- code start -->
    <div class="twPc-div">


      <div class="profile-content" *ngIf="user">

        <div class="follow-button">
          <div id="follow-button2">
            <a id="button-following" href="#" >Follow </a>


          </div>
        </div>

        <a title="Name"  class="avatar">
          <img class="twPc-avatarImg" src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg">
        </a>

        <div class="user">
          <div class="user-name">
            <p>{{user[0].firstname}} {{user[0].surname}}</p>
          </div>
          <div class="username">
				    <p>@<span>{{user[0].username}}</span></p>
          </div>
        </div>

        <div class="stats">
          <a href="#" title="8 Following" class="follow" id="following">
            <span class="follow-values" id="following-value">{{user[0].follows.length}}</span>
            <span class="follow-word">Following</span>
          </a>
          <a href="#" title="10 Followers" class="follow" id="followers">
            <span class="follow-values" id="followers-value">0</span>
            <span class="follow-word">Followers</span>
          </a>
        </div>
      </div>
    </div>
    <!-- code end -->
  </div>
  <div class="timeline" >
    <!--<h6 class="border-bottom border-gray pb-2 mb-0">{{post.timestamp}}</h6>-->
    <div class="timeline-content" *ngFor="let post of moods">
      <div class="timeline-date">
        <p class="pb-3 mb-0 small lh-125 " id="postDate">{{post.timestamp.$date.$numberLong | date}}</p>
      </div>
      <div class="timeline-mood">
        <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="assets/emoticons/png/{{post.emoji}}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
      </div>
      <div class="timeline-text">
        <div class="timeline-text-oid">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@{{post.username}}</strong>
          </p>
        </div>
        <div class="timeline-text-text">
          <p>
            {{post.text}}
          </p>
        </div>
      </div>
    </div>
  </div>



</div>
<div id="footer">
  <footer>
    <!--<p id="license">Icons made by <a href="https://emojiisland.com/pages/download-new-emoji-icons-in-png-ios-10">Emoji Island</a></p>-->
  </footer>
</div>

