<div class="container" id="profile-div">
  <div class="row">

    <!-- code start -->
    <div class="twPc-div">


      <div class="profile-content">

        <div class="follow-button">
          <div id="follow-button2">
            <a id="button-following" href="#" >Follow </a>
          </div>
        </div>

        <a title="Name"  class="avatar">
          <img  class="twPc-avatarImg" src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg">
        </a>

        <div class="user">
          <div class="user-name">
            <p>Elon Musk</p>
          </div>
          <div class="username">
				    <p>@<span>elonmusk</span></p>
          </div>
        </div>

        <div class="stats">
          <a href="#" title="8 Following" class="follow" id="following">
            <span class="follow-values" id="following-value">8</span>
            <span class="follow-word">Following</span>
          </a>
          <a href="#" title="10 Followers" class="follow" id="followers">
            <span class="follow-values" id="followers-value">10</span>
            <span class="follow-word">Followers</span>
          </a>
        </div>
      </div>
    </div>
    <!-- code end -->
  </div>
  <app-timeline></app-timeline>
</div>
<router-outlet></router-outlet>
<div id="footer">
  <footer>
    <p id="license">Icons made by <a href="https://emojiisland.com/pages/download-new-emoji-icons-in-png-ios-10">Emoji Island</a></p>
  </footer>
</div>

