<head>
  <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>
<div id="profile-div">
  <div class="row">

    <!-- code start -->
    <div class="twPc-div">


      <div>
        <div class="twPc-button">
          <button href="#" >Follow </button>


        </div>

        <a title="Name"  class="twPc-avatarLink">
          <img  class="twPc-avatarImg" src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg">
        </a>

        <div class="twPc-divUser">
          <div class="twPc-divName">
            <a href="#">Name</a>
          </div>
          <span>
				<a href="#">@<span>username</span></a>
			</span>
        </div>

        <div class="twPc-divStats">
          <ul class="twPc-Arrange">
            <li class="twPc-ArrangeSizeFit">
              <a href="#" title="9 moods">
                <span class="twPc-StatLabel twPc-block">Moods</span>
                <span class="twPc-StatValue">9</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="#" title="8 Following">
                <span class="twPc-StatLabel twPc-block">Following</span>
                <span class="twPc-StatValue">8</span>
              </a>
            </li>
            <li class="twPc-ArrangeSizeFit">
              <a href="#" title="10 Followers">
                <span class="twPc-StatLabel twPc-block">Followers</span>
                <span class="twPc-StatValue">10</span>
              </a>
            </li>
          </ul>
        </div>
        <div >Posts</div>





      </div>
    </div>
    <!-- code end -->
  </div>
  <app-timeline></app-timeline>

</div>
<router-outlet></router-outlet>

