<!-- Begin Page Content -->
<div class="container-fluid" >

  <!--- TABS -->
  <div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">

          <h2>Registrierung</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email-Adresse eingeben</div>
                <div *ngIf="f.email.errors.email">Ungültige E-Mailadresse</div>
              </div>
            </div>
            <!--  <div ngModelGroup="passwordGroup"-->
            <!--       [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.required()">-->
            <div class="form-group">
              <label for="password">Passwort</label>
              <input id='password' type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <!--    <input id='password' type="password" formControlName="password" class="form-control" (input)='confirmPassword.control.updateValueAndValidity()' [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.touched && f.password.errors.required">Passwort bitte eingeben</div>
                <div *ngIf="f.password.errors.touched && f.password.errors.minlength">Passwort muss mind. 6 Zeichen lang sein</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Bestätigung Passwort</label>
              <input id='confirmPassword' appConfirmEqualValidator='password' type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.touched && f.confirmPassword.errors.required">Passwort wiederholt eingeben</div>
                <div *ngIf="f.confirmPassword.errors.touched && f.confirmPassword.errors.notEqual && !f.confirmPassword.errors.required">Passwort stimmt nicht mit Wiederholung überein</div>
              </div>
            </div>
            <!--  </div>-->
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrieren
              </button>
              <a routerLink="/login" class="btn btn-link">Abbrechen</a>
            </div>
          </form>


        </div>

      </div>
    </div>

  </div>

</div>
<!-- End of Content Wrapper -->
