<!-- Begin Page Content -->
<div class="container-fluid" >

  <!--- TABS -->
  <div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">

          <h2 id="reg-title">Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="reg-content">
            <div class="form-group" id="username-div">
              <label for="username" id="u-label">Username</label>
              <input id="username" type="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username eingeben</div>
                <div *ngIf="f.username.errors.username">Ungültiger Username</div>
              </div>
            </div>
            <!--  <div ngModelGroup="passwordGroup"-->
            <!--       [class.has-error]="confirmPassword.touched && confirmPassword.invalid && !confirmPassword.required()">-->
            <div class="form-group" id="password-div">
              <label for="password" id="p-label">Password</label>
              <input id='password' type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <!--    <input id='password' type="password" formControlName="password" class="form-control" (input)='confirmPassword.control.updateValueAndValidity()' [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />-->
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.touched && f.password.errors.required">Passwort bitte eingeben</div>
                <div *ngIf="f.password.errors.touched && f.password.errors.minlength">Passwort muss mind. 6 Zeichen lang sein</div>
              </div>
            </div>
            <div class="form-group" id="re-password-div">
              <label for="confirmPassword" id="r-p-label">Confirm Password</label>
              <input id='confirmPassword' appConfirmEqualValidator='password' type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.touched && f.confirmPassword.errors.required">Passwort wiederholt eingeben</div>
                <div *ngIf="f.confirmPassword.errors.touched && f.confirmPassword.errors.notEqual && !f.confirmPassword.errors.required">Passwort stimmt nicht mit Wiederholung überein</div>
              </div>
            </div>
            <div class="form-group" id="firstname-div">
              <label for="firstname" id="firstname-label">Firstname</label>
              <input id='firstname' type="firstname" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
            </div>
            <div class="form-group" id="surname-div">
              <label for="surname" id="surname-label">Surname</label>
              <input id='surname' type="surname" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />

            </div>
            <!--  </div>-->
            <div class="form-group" id="buttons">
              <button  [disabled]="loading" routerLink="/" class="btn btn-primary" id="reg-button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>
              <a routerLink="/login" class="btn btn-link" id="cancel">Cancel</a>
            </div>
          </form>


        </div>

      </div>
    </div>

  </div>

</div>
<!-- End of Content Wrapper -->
